@page
@model ICBFApp.Pages.Jardines.CrearJardinModel
@{
}
<div class="container">
    <form method="POST">
        <div class="row mb-3">
            <label class="col-form-label-sm col-form-label">Nombre Jardin</label>

            <div class="col-sm-6">
                <input type="text" class="form-control" name="Nombre" value="@Model.jardinInfo.Nombre">
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-form-label-sm col-form-label">Dirección Jardin</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="direccion" value="@Model.jardinInfo.Direccion">
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-form-label-sm col-form-label" for="SelectedEstado">Selecciona un estado:</label>
            <div class="col-sm-6">
                <select name="Estado" class="form-control">
                    <option value="">Selecciona un estado</option>
                    <option value="Aprobado">Aprobado</option>
                    <option value="Tramite">En trámite</option>
                    <option value="Negado">Negado</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-form-label-sm col-form-label">Usuario </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="Fk_usuario" value="@Model.jardinInfo.Fk_usuario">
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.successMessage))
        {
            <div class="row mb-3">
                <div class="col-sm-9">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@Model.successMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                </div>
            </div>
        }

        @if (!string.IsNullOrEmpty(Model.errorMessage))
        {
            <div class="row mb-3">
                <div class="col-sm-9">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>@Model.errorMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                </div>
            </div>
        }

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" role="button" href="/Jardines/Index">Cancel</a>
            </div>
        </div>
    </form>
</div>
