@page
@model ICBFApp.Pages.Jardines.IndexModel
@{
}

<br />
<h2>Lista de jardin</h2>

<a class="btn btn-primary btn-sm" href="/Jardines/CrearJardin">Nuevo jardin</a>

<table class="table">
	<thead>
		<tr>
			<td>ID</td>
			<td>nombre</td>
			<td>direccion</td>
			<td>estado</td>
			<td>Usuario</td>
			<td>acciones</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.listJardin)
		{
			<tr>
				<td>@item.Id_jardin</td>
				<td>@item.Nombre</td>
				<td>@item.Direccion</td>
				<td>@item.Estado</td>
				<td>@item.Fk_usuario</td>
				<td>
					<a class="btn btn-primary btn-sm" href="/Jardines/EditarJardin?Id_jardin=@item.Id_jardin">Editar</a>
					<a class="btn btn-danger btn-sm" href="/Jardines/DeleteJardin?Id_jardin=@item.Id_jardin">Eliminar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
